/** Footer Start  */
.footer
{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2F3D4D;
  width: 100%;
  height: 420px;
  padding: 54px 50px 0px 50px;
  box-sizing: border-box;
}
.footer .designed
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: auto;
  height: 30px;
  margin-top: 25px;
}

.footer .designed .privacy-link
{
  color: #fff;
  position: relative;
  margin-bottom: 10px;
  opacity: 0.8;
  /* padding-top: 10px; */
  font-size: 1.1rem;
  text-decoration: none;
}

.footer .designed .privacy-link:hover
{
  opacity: 1;
  cursor: pointer;
}

.footer .content
{
  position: relative;
  width: 100%;
  /* background-color: brown; */
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.footer p
{
  font-weight: 300;
  text-align: center;
  font-family: lato, sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 17px;
  word-wrap: break-word;
  font-feature-settings: 'liga';
}
.footer .content .social-network
{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.footer .content .social-network .email-link
{
  color: #fff;
  font-weight: 300;
  text-align: center;
  font-family: lato, sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 17px;
}
.footer .content .social-network ul
{
  display: flex;
  flex-direction: row;
}
.footer .social-network li
{
  list-style: none;
  padding: 6px;
}
.footer .social-network li a
{
  display: block;
  color: #fff;
  font-size: 30px;
}
/** Section More Help Start  */
.footer .more-help
{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-content: center;
    width: 650px;
    height: auto;
 /* background-color: bisque;    */
}
.footer .more-help .header
{
    width: auto;
    margin-bottom: 25px;
    /* background-color: blueviolet; */
}
.footer .more-help .header h1
{
    text-align: center;
    color: #fff;
    font-size: 26px;
    line-height: 36px;
    font-weight: 300;
    text-transform: uppercase;
    font-family: lato, sans-serif;
}
.footer .more-help .cards
{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.footer .more-help .cards .card
{

    margin-bottom: 20px;
}
.footer .more-help .cards .card h1
{
    text-transform: uppercase;
    font-family: lato, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 19px;
}
.footer .more-help .cards .card a
{
    color: #fff;
    font-family: lato, sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
}
.footer .more-help .cards .card a:hover
{
  font-weight: 500;
}
/** Section More Help End  */
/** Email Form Start  */
.email-form
{
  width: 380px;
  height: auto;
}
.email-form form .row
{
  display: flex;
  width: 100%;
}
.email-form .row-1
{
  display: flex;
  justify-content: space-between;
}
.email-form .row-2 .form-control
{
  height: 100px;
}
.email-form .row-1 .form-control
{
  width: 45%;
  position: relative;
}
.email-form .form-control input
{
    width: 100%;
    padding: 10px 0;
    padding-left: 10px;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
.email-form .form-control textarea
{
  width: 100%;
  height: 40%;
  padding: 10px 0;
  padding-left: 10px;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.email-form .form-control input::placeholder,
.email-form .form-control textarea::placeholder
{
    font-style: italic;
    font-family: lato, sans-serif;
    font-weight: 300;
    padding: 6px;
    font-size: 16px;
    color: #fff;
}
   .email-form .form-control label {
    position: absolute;
    top:0;
    left: 0;
    font-style: italic;
    font-family: lato, sans-serif;
    font-weight: 300;
    padding: 6px;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  .email-form .form-control input:focus + label,
  .email-form .form-control textarea:focus + label
  {
    display: none;
  }
  .email-form .form-control input:focus,
  .email-form .form-control textarea:focus
  {
    background-color: white;
    color: black;
  }
  .email-form button
  {
    width: 157px;
    height: 33px;
    font-weight: 300;
    font-family: lato, sans-serif;
    border: 1px solid #fff;
    color: #fff;
    background-color: transparent;
    /* text-transform: uppercase; */
  }
  .email-form button:hover
  {
    cursor: pointer;
    color: #111;
    background-color: #fff;
  }
/** Email Form End  */
/**? Tablets Devices  */
@media screen and (max-width: 952px)
{
  .footer
  {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 5px 10px;
  }
  .footer .content
  {
    box-sizing: border-box;
    margin: 0;
    padding: 20px 20px;
    width: 100%;
    /* flex-direction: column; */
  }
  .footer .content .content-email
  {

  }
  form .btn
  {
    margin-left: 50px;
    height: 35px;
    width: 70%;
  }
}
/**? Phones Devices  */
@media screen and (max-width: 375px)
{
    /** Footer Section Start  */
  .footer
  {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 5px 10px;
  }
  .footer .content
  {
    margin: 0;
    padding: 10px;
    width: 100%;
    flex-direction: column;
    /* background-color: khaki; */
  }
  .footer .content .content-email form .row-1
  {
    flex-wrap: wrap;
  }
  .footer .content .content-email form .row-1 .form-control,
  .footer .content .content-email form .row-2 .form-control
  {
    width: 80%;
  }
  form .btn
  {
    margin-left: 20px;
    width: 70%;
  }
  .footer .content .content-email
  {
    width: 100%;
    /* width: 400px; */
    /* left: 0; */
    padding: 10px;
    margin: 0;
    /* display: none; */
  }
  .footer .content .social-network
  {
    margin-top: 10px;
  }
  .footer .content .social-network ul li
  {
    padding: 10px;
  }
  .footer .designed
  {
    margin-bottom: 20px;
    /* display: none; */
  }

  .footer .content .more-help
  {
    width: 100%;
    justify-content: center;
    align-items: center;
    /* background-color: cadetblue; */
  }
  .footer .content .more-help .cards
  {
      display: flex;
      flex-direction: column;
      /* display: none; */
  }

  /** Footer Section End   */
}
