<div class="footer">
    <div class="content">
        <!-- <div class="content-email">
            <div class="email-form">
                <form action="">
                    <div class="row row-1">
                        <div class="form-control">
                            <input type="text" name="name" id="name" placeholder="Name: ">
                        </div>
                        <div class="form-control">
                            <input type="email" name="email" id="email" placeholder="Email: ">
                        </div>
                    </div>
                    <div class="row row-2">
                        <div class="form-control">
                            <textarea name="message" id="" cols="50" rows="5" placeholder="Message: "></textarea>
                        </div>
                    </div>
                    <button class="btn">Send</button>
                </form>
            </div>
        </div> -->
        <div class="more-help">
            <div class="header">
                <h1>need more help?</h1>
            </div>
            <div class="cards">
                <div class="row">
                    <div class="card">
                        <h1>PURCHASING DEPARTMENT</h1>
                        <a href="mailto:asuarez@bluedropmx.com">asuarez@bluedropmx.com</a>
                    </div>
                    <div class="card">
                        <h1>CAREERS</h1>
                        <a href="mailto:talento@bluedropmx.com">talento@bluedropmx.com</a>
                    </div>
                    <div class="card">
                        <h1>LEGAL DEPARTMENT</h1>
                        <a href="mailto:kpallares@bluedropmx.com">kpallares@bluedropmx.com</a>
                    </div>
                    <div class="card">
                        <h1>SALES - BLUEDROP NURSERY</h1>
                        <a href="mailto:avelazco@bluedropmx.com">avelazco@bluedropmx.com</a>
                    </div>
                </div>
                <div class="row">
                    <div class="card">
                        <h1>NEW BUSINESS DEVELOPMENT</h1>
                        <a href="mailto:cdiaz@bluedropmx.com">cdiaz@bluedropmx.com</a>
                    </div>
                    <div class="card">
                        <h1>MARKETING AND DESIGN</h1>
                        <a href="mailto:lcervantes@bluedropmx.com">lcervantes@bluedropmx.com</a>
                    </div>
                    <div class="card">
                        <h1>CUSTOMER SERVICE</h1>
                        <a href="mailto:contact@bluedropmx.com">contact@bluedropmx.com</a>
                    </div>
                    <div class="card">
                        <h1>SALES - BLUEDROP PRODUCE</h1>
                        <a href="mailto:evera@bluedropmx.com">evera@bluedropmx.com</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="social-network">
            <ul>
                <li><a href="http://www.facebook.com/bluedropmexico"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="http://www.instagram.com/bluedropmx/"><i class="fab fa-instagram"></i></a></li>
                <li><a href="http://www.linkedin.com/company/bluedrop---sustainable-agroforestry"><i class="fab fa-linkedin-in"></i></a></li>
                <li><a href="http://"><i class="fab fa-whatsapp"></i></a></li>
            </ul>
            <a class="email-link">contact@bluedropmx.com</a>
        </div> -->
    </div>
    <div class="designed">
        <a href="assets/pdf/Aviso de Privacidad Grupo.pdf"  target="_blank"  class="privacy-link">Privacy Notice</a>
        <p>BlueDrop 2022 © All rights reserved. Designed by BlueDrop®</p>
    </div>
</div>
