@charset "UTF-8";
body {
  font-family: lato, sans-serif;
}

.container {
  font-family: lato, sans-serif;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .header {
  width: 100% !important;
  height: 85px;
}

.container .section-header {
  position: relative;
  width: 100%;
  height: 790px;
  margin-bottom: 50px;
}

.container .section-header .background-image {
  width: 100%;
}

.container .section-header .background-image img {
  width: 100%;
}

.container .section-header .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: none;
}

.container .section-header .content .header {
  width: 700px;
  text-align: center;
  color: #fff;
  font-size: 54px;
  line-height: 51px;
  margin-top: 120px;
  font-weight: 900;
  text-shadow: 6px 6px 8px rgba(0, 0, 0, 0.8);
}

.container .section-nursery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 80px;
}

.container .section-nursery .image {
  width: 634px;
}

.container .section-nursery .image img {
  border-radius: 300px 0px 300px 0px;
}

.container .section-nursery .content {
  margin-left: 30px;
  margin-top: 25px;
}

.container .section-nursery .content .header {
  color: #173853;
  width: 360px;
}

.container .section-nursery .content .text p {
  color: #173853;
  line-height: 26px;
  text-align: left;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 25px;
}

.container .section-why-nursery {
  position: relative;
  width: 70%;
  height: 500px;
  margin-bottom: 50px;
}

.container .section-why-nursery .decoration-margin-top-left {
  left: 0;
  top: 0;
  border-width: 3px 0px 0px 3px;
  border-style: solid;
}

.container .section-why-nursery .decoration-margin-top-right {
  right: 0;
  top: 0;
  border-width: 3px 3px 0px 0px;
  border-style: solid;
}

.container .section-why-nursery .decoration-margin-down-left {
  left: 0;
  bottom: 0;
  border-width: 0px 0px 3px 3px;
  border-style: solid;
}

.container .section-why-nursery .decoration-margin-down-right {
  right: 0;
  bottom: 0;
  border-width: 0px 3px 3px 0px;
  border-style: solid;
}

.container .section-why-nursery .decoration-margin {
  position: absolute;
  border-color: #A2BF49;
  height: 82px;
  width: 180px;
  z-index: 300;
}

.container .section-why-nursery .why-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  margin-top: 50px;
}

.container .section-why-nursery .why-content .s-header h1 {
  font-size: 30px;
  line-height: 33px;
  color: #173853;
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
}

.container .section-why-nursery .why-content .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 90%;
  height: auto;
}

.container .section-why-nursery .why-content .cards .card {
  margin-top: 50px;
  position: relative;
  height: auto;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .section-why-nursery .why-content .cards .card .card-header {
  margin-bottom: 20px;
  width: 120px;
}

.container .section-why-nursery .why-content .cards .card .card-header h1 {
  font-weight: 700;
  text-align: center;
  text-transform: none;
  line-height: 24px;
  font-family: lato, sans-serif;
  font-size: 17px;
}

.container .section-why-nursery .why-content .cards .card .card-header .card-title-color-1 {
  color: #C8DD99;
}

.container .section-why-nursery .why-content .cards .card .card-header .card-title-color-2 {
  color: #B6D37F;
}

.container .section-why-nursery .why-content .cards .card .card-header .card-title-color-3 {
  color: #A2BF4A;
}

.container .section-why-nursery .why-content .cards .card .card-header .card-title-color-4 {
  color: #7EB048;
}

.container .section-why-nursery .why-content .cards .card .card-header .card-title-color-5 {
  color: #66913D;
}

.container .section-why-nursery .why-content .cards .card .card-header .card-title-color-6 {
  color: #456C44;
}

.container .section-why-nursery .why-content .cards .card .text {
  width: 150px;
}

.container .section-why-nursery .why-content .cards .card .text p {
  font-weight: 300;
  font-family: lato, sans-serif;
  color: #173853;
  line-height: 20px;
  text-align: left;
  font-size: 15px;
}

.container .section-why-nursery .why-content .cards .card .background-circle {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #C8DD99;
  border-radius: 50%;
  width: 126px;
  height: 126px;
  margin-bottom: 20px;
}

.container .section-why-nursery .why-content .cards .card .card-circule-1 {
  background-color: #C8DD99;
}

.container .section-why-nursery .why-content .cards .card .card-circule-2 {
  background-color: #B6D37F;
}

.container .section-why-nursery .why-content .cards .card .card-circule-3 {
  background-color: #A2BF4A;
}

.container .section-why-nursery .why-content .cards .card .card-circule-4 {
  background-color: #7EB048;
}

.container .section-why-nursery .why-content .cards .card .card-circule-5 {
  background-color: #66913D;
}

.container .section-why-nursery .why-content .cards .card .card-circule-6 {
  background-color: #456C44;
}

.container .section-why-plant {
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  margin-bottom: 50px;
}

.container .section-why-plant .s-header h1 {
  line-height: 33px;
  color: #173853;
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 40px;
  font-size: 30px;
}

.container .section-why-plant .s-header span {
  color: #A2BF49;
}

.container .section-why-plant .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  height: 100%;
  display: flex;
}

.container .section-why-plant .row .decoration-line {
  height: auto;
  width: 5px;
  background: #A2BF49;
  margin-left: 40px;
  margin-right: 80px;
}

.container .section-why-plant .row .plant-header {
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  font-size: 25px;
  color: #173853;
  margin-bottom: 30px;
}

.container .section-why-plant .row .text {
  position: relative;
  font-weight: 300;
  font-family: lato, sans-serif;
  color: #173853;
  font-size: 23px;
  width: 339px;
  margin-bottom: 30px;
  text-align: left;
  list-style: none;
}

.container .section-why-plant .row .text:last-of-type {
  margin-bottom: 0px;
}

.container .section-why-plant .row .text::before {
  position: absolute;
  font-size: 33px;
  top: -8px;
  content: '•';
}

.container .section-why-plant .row .text p {
  margin-left: 25px !important;
  width: 100%;
}

.container .section-why-plant .row .clonal-content, .container .section-why-plant .row .conventional-content {
  width: 400px;
  padding: 0 5px;
}

.container .section-why-plant .row .clonal-content .text p, .container .section-why-plant .row .conventional-content .text p {
  margin-left: 5px;
}

.container .section-vistus {
  position: relative;
  width: 100%;
  height: auto;
}

.container .section-vistus .background-image {
  z-index: 100;
  width: 100%;
  height: 100%;
}

.container .section-vistus .background-image img {
  width: 100%;
  height: 100%;
}

.container .section-vistus .content {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  z-index: 200;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.container .section-vistus .content .header {
  position: relative;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 630px !important;
  height: auto;
  font-weight: 900;
  text-shadow: 6px 6px 8px rgba(0, 0, 0, 0.8);
}

.container .section-vistus .content .header h1 {
  width: auto;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 58px;
  line-height: 55px;
  margin-bottom: 20px;
}

.container .section-vistus .content .header .text {
  width: 440px;
  color: #fff;
  font-size: 23px;
  line-height: 32px;
  font-weight: 500;
  text-align: center;
  text-shadow: 6px 6px 8px rgba(0, 0, 0, 0.8);
  opacity: 1;
}

.container .section-vistus .content .content-form {
  margin-top: 40px;
  width: 520px;
  height: auto !important;
  position: relative;
}

.container .section-vistus .content .content-form .form-header {
  margin-bottom: 20px;
}

.container .section-vistus .content .content-form .form-header h1 {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-size: 23px;
  line-height: 22px;
  font-weight: 500;
}

.container .section-vistus .content .content-form .form {
  margin-bottom: 10px;
}

.container .section-vistus .content .content-form .form .btn {
  background-color: rgba(255, 255, 255, 0.1);
}

.container .section-upcoming {
  position: relative;
  width: 100%;
  height: 780px;
}

.container .section-upcoming .background-image {
  position: absolute;
  right: 0;
  width: 70%;
  height: 780px;
}

.container .section-upcoming .background-image img {
  width: 100%;
  height: 100%;
}

.container .section-upcoming .degraded {
  background: -webkit-gradient(linear, left top, right top, color-stop(34%, #66913D), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to right, #66913D 34%, rgba(255, 255, 255, 0));
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0%;
  top: 0;
  margin-left: 0%;
}

.container .section-upcoming .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  left: 10%;
  margin-top: 70px;
  width: 800px;
  height: 700px;
}

.container .section-upcoming .content .content-header {
  position: relative;
  width: 700px;
}

.container .section-upcoming .content .content-header h1 {
  color: #fff;
  text-align: left;
  font-size: 36px;
  line-height: 37px;
  font-weight: 500;
  text-transform: uppercase;
  font-weight: 900;
  text-shadow: 6px 6px 8px rgba(0, 0, 0, 0.8);
}

.container .section-upcoming .content .content-form {
  margin-top: 50px;
  position: relative;
  width: 500px;
  height: auto;
}

.container .section-upcoming .content .content-form .form-header {
  width: 400px;
  margin-bottom: 50px;
}

.container .section-upcoming .content .content-form .form-header h1 {
  color: #fff;
  font-size: 23px;
  line-height: 30px;
  font-weight: 500;
}

.container .section-footer {
  width: 100%;
}

.form-control {
  position: relative;
  width: 85%;
}

.form-control label {
  display: none;
  position: absolute;
  color: #fff;
  font-style: italic;
  font-family: lato, sans-serif;
  font-weight: 300;
  font-size: 16px;
  bottom: 50%;
}

.form-control label.focus {
  display: none;
  top: -20%;
  font-weight: 900;
}

.form-control input {
  margin-bottom: 20px;
  height: 35px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #fff;
  background: none;
  color: #fff;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 10px;
}

.form-control input:focus {
  border: 1px solid gray;
  background: #fff;
  color: #000;
}

.form-control input::-webkit-input-placeholder {
  display: none;
  color: #fff;
  font-style: italic;
  font-family: lato, sans-serif;
  font-weight: 300;
  padding: 6px;
  font-size: 16px;
  opacity: 1;
}

.form-control input:-ms-input-placeholder {
  display: none;
  color: #fff;
  font-style: italic;
  font-family: lato, sans-serif;
  font-weight: 300;
  padding: 6px;
  font-size: 16px;
  opacity: 1;
}

.form-control input::-ms-input-placeholder {
  display: none;
  color: #fff;
  font-style: italic;
  font-family: lato, sans-serif;
  font-weight: 300;
  padding: 6px;
  font-size: 16px;
  opacity: 1;
}

.form-control input::placeholder {
  display: none;
  color: #fff;
  font-style: italic;
  font-family: lato, sans-serif;
  font-weight: 300;
  padding: 6px;
  font-size: 16px;
  opacity: 1;
}

.btn-primary {
  height: 35px;
  width: 150px;
  color: #fff;
  background: none;
  border: 1px solid #fff;
}

.btn-primary:hover {
  background-color: white !important;
  opacity: 1;
  color: #000;
  cursor: pointer;
}

.form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.col-6 {
  width: 49%;
}

.alert-message-success {
  visibility: hidden;
  color: #fff;
  font-weight: 300;
  font-family: lato, sans-serif;
  width: 100%;
  font-size: 17px;
  margin-top: 10px;
}

.alert-message-success.active {
  visibility: visible;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

@media (max-width: 520px) {
  .section-header {
    height: 300px !important;
    width: 100% !important;
  }
  .section-header .background-image {
    height: 300px;
    width: 100%;
  }
  .section-header .background-image img {
    width: 100%;
    height: 100%;
  }
  .section-header .content {
    height: 100%;
  }
  .section-header .content h1 {
    font-size: 35px !important;
  }
  .section-nursery {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-nursery .image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100% !important;
    height: 300px;
  }
  .section-nursery .image img {
    border-radius: 200px 0px 200px 0px !important;
    width: 95%;
    height: 300px;
  }
  .section-nursery .content {
    width: 100%;
    margin-left: 0 !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0px 7px;
  }
  .section-nursery .content .header {
    width: 100%;
    margin-bottom: 20px;
  }
  .section-nursery .content .header h1 {
    width: 100%;
  }
  .section-nursery .content .text {
    width: auto !important;
  }
  .section-nursery .content .text p {
    width: auto !important;
  }
  .section-why-nursery {
    width: 100% !important;
    height: auto !important;
  }
  .section-why-nursery .why-content .cards {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .section-why-nursery .why-content .cards:last-child {
    margin-bottom: 40px;
  }
  .section-why-plant {
    width: 100% !important;
  }
  .section-why-plant .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100% !important;
  }
  .section-why-plant .row .clonal-content {
    margin-bottom: 40px;
  }
  .section-why-plant .row .clonal-content, .section-why-plant .row .convetional-content {
    width: 100% !important;
  }
  .section-why-plant .row .text {
    margin-left: 20px;
  }
  .section-vistus {
    width: 100% !important;
    height: auto !important;
  }
  .section-vistus .background-image {
    width: 100%  !important;
    height: 300px !important;
    background-color: red;
  }
  .section-vistus .header h1 {
    font-size: 40px !important;
    width: 60% !important;
  }
  .section-vistus .header .text {
    width: 60% !important;
  }
  .section-vistus .content {
    background-color: #173853;
    position: relative !important;
    padding-bottom: 20px;
  }
  .section-vistus .content .content-form {
    width: 90% !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0px 10px;
  }
  .section-vistus .content .content-form .form .form-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .section-vistus .content .content-form .form .form-row .form-control {
    width: 100%;
  }
  .section-vistus .content .content-form .form button {
    margin-left: 5%;
    width: 90%;
  }
  .section-upcoming {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    width: 100% !important;
    height: auto !important;
  }
  .section-upcoming .background-image {
    position: relative !important;
    background: pink !important;
    width: 100% !important;
    height: 300px !important;
  }
  .section-upcoming .degraded {
    width: 100% !important;
    height: 300px !important;
  }
  .section-upcoming .content {
    background-color: #173853;
    left: 0 !important;
    margin-top: 0 !important;
    width: 100% !important;
    height: auto !important;
    padding: 30px 0px;
    position: relative !important;
  }
  .section-upcoming .content .content-header {
    width: 100% !important;
  }
  .section-upcoming .content .content-header h1 {
    width: 100% !important;
    text-align: center !important;
    font-size: 30px !important;
  }
  .section-upcoming .content .content-form {
    width: 100% !important;
  }
  .section-upcoming .content .content-form .form-header {
    margin-left: 4%;
  }
  .section-upcoming .content .content-form form {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0px 30px;
  }
  .section-upcoming .content .content-form form .form-control {
    width: 100% !important;
  }
  .section-upcoming .content .content-form form button {
    width: 100%;
  }
}

@media (max-width: 952px) and (min-width: 700px) {
  .container .section-header {
    height: 500px !important;
  }
  .container .section-header .background-image {
    height: 100%;
  }
  .container .section-header .background-image img {
    height: 100%;
  }
  .container .section-nursery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .container .section-nursery .image {
    width: 50% !important;
  }
  .container .section-nursery .image img {
    margin-left: 10px;
    width: 100% !important;
    height: 100% !important;
    border-radius: 200px 0px 250px 0px !important;
  }
  .container .section-nursery .content {
    width: 50% !important;
  }
  .container .section-nursery .content .text {
    width: auto;
  }
  .container .section-why-nursery {
    width: 99%;
  }
  .container .section-why-plant {
    width: 100%;
  }
  .container .section-vistus {
    height: 600px !important;
  }
  .container .section-vistus .background-image {
    height: 100%;
  }
  .container .section-vistus .content {
    height: 100%;
  }
  .container .section-upcoming {
    height: 600px !important;
  }
  .container .section-upcoming .background-image {
    height: 100%;
  }
  .container .section-upcoming .background-image img {
    height: 100%;
  }
  .container .section-upcoming .content {
    height: auto;
  }
}

@media (max-width: 1366px) and (min-width: 1025px) {
  .section-header {
    height: 100vh;
  }
  .section-header .background-image {
    height: 100%;
  }
  .section-header .background-image img {
    height: 100%;
  }
  .section-nursery .content .header {
    width: 350px;
  }
  .section-nursery .content .text {
    width: 500px;
  }
  .section-why-nursery {
    width: 85% !important;
  }
  .section-why-plant .row .decoration-line {
    margin-left: 40px;
    margin-right: 80px;
  }
}

@media (min-width: 1367px) {
  .section-header .background-image {
    height: 100%;
  }
  .section-header .background-image img {
    height: 100%;
  }
  .section-nursery .content .text {
    width: 500px;
  }
}
/*# sourceMappingURL=nurseryhomeStyles.css.map */