.container {
  font-family: lato, sans-serif;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .header {
  width: 100% !important;
  height: 85px;
}

.container .section-header {
  position: relative;
  width: 100%;
  height: 790px;
  margin-bottom: 80px;
}

.container .section-header .background-image {
  width: 100%;
}

.container .section-header .background-image img {
  width: 100%;
}

.container .section-header .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: none;
}

.container .section-header .content .header {
  width: 700px;
  text-align: center;
  color: #fff;
  font-size: 54px;
  line-height: 51px;
  margin-top: 120px;
  font-weight: 900;
  text-shadow: 6px 6px 8px rgba(0, 0, 0, 0.8);
}

.container .what-is {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: auto;
}

.container .what-is .content .row-1 .content-header {
  width: 390px;
  margin-bottom: 60px;
}

.container .what-is .content .row-1 .content-header h1 {
  font-size: 30px;
}

.container .what-is .content .row-1 .content-text {
  width: 570px;
}

.container .what-is .content .row-1 .content-text p {
  font-size: 22px;
  margin-bottom: 25px;
}

.container .what-is .content .row-2 {
  padding-top: 25px;
  padding-bottom: 60px;
  height: auto;
  background: #173853;
}

.container .what-is .content .row-2 .content-header {
  width: 612px;
  margin-bottom: 35px;
}

.container .what-is .content .row-2 .content-header h1 {
  color: #fff;
}

.container .what-is .content .row-2 .content-text li {
  color: #fff;
  line-height: 32px;
  font-size: 23px;
}

.container .what-is .content .image-plant {
  display: none;
}

.container .what-is .image {
  position: relative;
  left: -80px;
}

.container .section-productivity {
  position: relative;
  width: 90%;
  height: auto;
  margin-top: 70px;
  margin-bottom: 70px;
}

.container .section-productivity .content-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding-top: 30px;
}

.container .section-productivity .content-header h1 {
  width: 800px;
  font-size: 30px;
  text-align: center;
}

.container .section-productivity .content-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.container .section-productivity .content-images .plant-image {
  position: relative;
}

.container .section-productivity .content-images .plant-image .plant-img {
  z-index: 100;
  width: 485px;
  height: 660px;
}

.container .section-productivity .content-images .plant-image .scissors-gif {
  position: absolute;
  z-index: 110;
  left: 10%;
  top: 60%;
  width: 317px;
  height: 60px;
}

.container .section-productivity .content-images .plant-image .plant-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 400px;
  background: red;
}

.container .section-productivity .content-images .plant-image .rotate-header {
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}

.container .section-productivity .content-images .content {
  height: 340px;
  width: 420px;
  top: 40%;
  left: 6.4%;
  position: absolute;
}

.container .section-productivity .content-images .content .vertical-title-right {
  position: absolute;
  right: -220px;
  bottom: 10%;
  width: auto;
  height: auto;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}

.container .section-productivity .content-images .content .vertical-title-right h1 {
  text-transform: uppercase;
  line-height: 26px;
  font-size: 24px;
}

.container .section-productivity .content-images .content-image {
  height: 340px;
  width: 420px;
}

.container .section-productivity .content-images .content-image .content-variety {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 150px;
  margin-bottom: 40px;
}

.container .section-productivity .content-images .content-image .content-variety .vertical-title {
  position: absolute;
  height: auto;
  width: auto;
  left: 5%;
  bottom: -10%;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}

.container .section-productivity .content-images .content-image .content-variety .vertical-title h1 {
  text-transform: uppercase;
  font-size: 24px;
}

.container .section-productivity .content-images .content-image .content-variety .text {
  position: relative;
  left: 150px;
}

.container .section-productivity .content-images .content-image .content-variety .text li {
  color: #173853;
  font-weight: 300;
  font-size: 17px;
  line-height: 24px;
}

.container .section-productivity .content-images .content-image .content-graft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 150px;
}

.container .section-productivity .content-images .content-image .content-graft .vertical-title {
  position: absolute;
  height: auto;
  width: auto;
  left: 2%;
  bottom: -10%;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}

.container .section-productivity .content-images .content-image .content-graft .vertical-title h1 {
  width: 100px;
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  font-size: 24px;
}

.container .section-productivity .content-images .content-image .content-graft .text {
  position: relative;
  left: 150px;
}

.container .section-productivity .content-images .content-image .content-graft .text li {
  color: #173853;
  font-weight: 300;
  font-size: 17px;
  line-height: 24px;
}

.container .section-productivity .content-images .content-image .line-right-decoration {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 30px;
  border-right: #A2BF49 2px solid;
  border-top: #A2BF49 2px solid;
  border-bottom: #A2BF49 2px solid;
}

.container .section-productivity .content-images .graph-image {
  background-color: #173853;
  width: 528px;
  height: 446px;
  position: absolute;
  right: -4%;
  bottom: 22%;
  padding: 10px;
}

.container .section-productivity .decoration-margin-top-left {
  left: 0;
  top: 0;
  border-width: 3px 0px 0px 3px;
  border-style: solid;
}

.container .section-productivity .decoration-margin-top-right {
  right: 0;
  top: 0;
  border-width: 3px 3px 0px 0px;
  border-style: solid;
}

.container .section-productivity .decoration-margin-down-left {
  left: 0;
  bottom: 0;
  border-width: 0px 0px 3px 3px;
  border-style: solid;
}

.container .section-productivity .decoration-margin-down-right {
  right: 0;
  bottom: 0;
  border-width: 0px 3px 3px 0px;
  border-style: solid;
}

.container .section-productivity .decoration-margin {
  position: absolute;
  border-color: #A2BF49;
  height: 82px;
  width: 180px;
  z-index: 300;
}

.container .section-usprocess {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: auto;
}

.container .section-usprocess .content-header {
  width: 100%;
  height: auto;
  padding: 25px 0px;
  background: #173853;
  margin-bottom: 30px;
}

.container .section-usprocess .content-header h1 {
  color: #fff;
  text-transform: uppercase;
  font-size: 40px;
  text-align: center;
}

.container .section-usprocess .content-image {
  width: 875px;
  height: 621px;
}

.container .section-usprocess .content-image img {
  width: 100%;
  height: 100%;
}

.container .section-footer {
  margin-top: 50px;
  width: 100%;
}

@media (max-width: 500px) {
  .header {
    width: 100% !important;
  }
  .section-header {
    width: 100% !important;
    height: 300px !important;
  }
  .section-header .background-image {
    height: 100% !important;
  }
  .section-header .background-image img {
    height: 100% !important;
  }
  .section-header .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  .section-header .content .header {
    margin-top: 0 !important;
    height: auto !important;
    font-size: 45px !important;
    font-weight: 900 !important;
  }
  .what-is {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    width: 100%;
  }
  .what-is .content {
    width: 100%;
    height: auto;
  }
  .what-is .content .row {
    width: 100% !important;
    padding-left: 0px !important;
  }
  .what-is .content .row .content-header h1 {
    margin-left: 5%;
  }
  .what-is .content .row .content-text {
    width: 100% !important;
    height: auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0px 5px;
  }
  .what-is .content .row .content-text p {
    width: 100% !important;
  }
  .what-is .content .row-2 .content-header {
    width: 100% !important;
  }
  .what-is .content .row-2 .content-header h1 {
    margin-left: 10px !important;
    font-size: 28px;
    margin-left: 0;
    width: 100% !important;
  }
  .what-is .content .row-2 .content-text {
    width: 100% !important;
    padding-left: 30px !important;
  }
  .what-is .content .image-plant {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .what-is .content .image-plant img {
    width: 250px;
  }
  .what-is .image {
    display: none;
  }
  .section-productivity {
    width: 98% !important;
  }
  .section-productivity .content-header {
    margin-bottom: 20px;
  }
  .section-productivity .content-header h1 {
    width: 95% !important;
    font-size: 27px !important;
  }
  .section-productivity .content-images {
    margin-bottom: 20px;
  }
  .section-productivity .content-images .plant-image .plant-img {
    width: 350px !important;
    height: 500px !important;
  }
  .section-productivity .content-images .plant-image .scissors-gif {
    width: 250px !important;
  }
  .section-productivity .content-images .content {
    top: 20% !important;
    left: -2% !important;
    height: auto !important;
    width: 400px !important;
  }
  .section-productivity .content-images .content .content-image {
    width: 90% !important;
    margin-left: 60px;
    height: auto !important;
  }
  .section-productivity .content-images .content .content-image .content-variety {
    margin-bottom: 0px;
  }
  .section-productivity .content-images .content .content-image .content-variety, .section-productivity .content-images .content .content-image .content-graft {
    width: 70% !important;
  }
  .section-productivity .content-images .content .content-image .content-variety h1, .section-productivity .content-images .content .content-image .content-graft h1 {
    font-size: 20px !important;
  }
  .section-productivity .content-images .content .content-image .content-variety .text, .section-productivity .content-images .content .content-image .content-graft .text {
    margin-left: -20px !important;
    width: 180px !important;
  }
  .section-productivity .content-images .content .content-image .content-variety .text li, .section-productivity .content-images .content .content-image .content-graft .text li {
    width: 100% !important;
  }
  .section-productivity .content-images .content .content-image .line-right-decoration {
    right: 20px !important;
    height: 100% !important;
  }
  .section-productivity .content-images .content .vertical-title-right {
    right: -185px !important;
  }
  .section-productivity .content-images .graph-image {
    position: relative !important;
    width: 90% !important;
    margin-top: 15% !important;
    height: 300px !important;
    margin-bottom: 30px !important;
  }
  .section-productivity .content-images .graph-image img {
    width: 90%;
  }
  .section-productivity .graph-image-small {
    display: none;
  }
  .section-productivity .decoration-margin {
    width: 100px !important;
    height: 50px !important;
  }
  .section-usprocess .content-image {
    width: 100% !important;
    height: 300px !important;
  }
  .section-usprocess .content-image img {
    width: 100% !important;
    height: 100% !important;
  }
}

@media (max-width: 952px) and (min-width: 821px) {
  .section-header {
    height: 500px !important;
  }
  .section-header .background-image {
    height: 100% !important;
  }
  .section-header .background-image img {
    height: 100%;
  }
  .what-is .content {
    height: auto !important;
  }
  .what-is .content .image-plant {
    display: none;
  }
  .what-is .content .row {
    padding: 0 0 50px 50px !important;
    width: auto !important;
  }
  .what-is .image {
    right: 400px !important;
  }
  .what-is .image img {
    height: 100% !important;
  }
  .section-productivity .content-images .plant-image {
    margin-bottom: 20px;
  }
  .section-productivity .content-images .plant-image .plant-img {
    width: 400px !important;
    height: 520px !important;
  }
  .section-productivity .content-images .plant-image .scissors-gif {
    width: 250px !important;
    left: 5% !important;
  }
  .section-productivity .content-images .content {
    top: 35% !important;
    left: 9% !important;
  }
  .section-productivity .content-images .content .content-image .content-variety {
    margin-bottom: 0px !important;
  }
  .section-productivity .content-images .content .content-image .content-graft .vertical-title {
    bottom: -22% !important;
  }
  .section-productivity .content-images .content .content-image .line-right-decoration {
    height: 300px !important;
  }
  .section-productivity .content-images .content .vertical-title-right {
    bottom: 16% !important;
  }
  .section-productivity .content-images .graph-image {
    display: none;
    position: relative !important;
  }
  .section-productivity .graph-image-small {
    margin-left: 20%;
    background-color: #173853;
    width: 528px;
    height: 446px;
    padding: 10px;
  }
}

@media (max-width: 1200px) and (min-width: 1025px) {
  .section-header {
    height: 80vh !important;
  }
  .section-header .background-image {
    height: 100% !important;
  }
  .section-header .background-image img {
    height: 100%;
  }
  .what-is .content .row {
    margin-left: 0 !important;
    padding-left: 120px !important;
    width: 650px !important;
  }
  .section-productivity .content-images .graph-image {
    width: 340px  !important;
    height: 300px !important;
  }
  .section-productivity .content-images .graph-image img {
    width: 100% !important;
    height: 100% !important;
  }
  .section-productivity .graph-image-small {
    display: none;
  }
}

@media (min-width: 1201px) {
  .section-header .background-image {
    height: 100%;
  }
  .section-header .background-image img {
    height: 100%;
  }
  .what-is .content .row {
    padding-left: 100px;
    width: 1122px;
  }
  .what-is .content .row-1 {
    margin-bottom: 50px;
  }
  .what-is .content .row-2 .content-text {
    margin-left: 35px;
  }
  .section-productivity .content-images .content .content-image {
    left: 0%;
  }
  .section-productivity .graph-image-small {
    display: none;
  }
}
/*# sourceMappingURL=nursery-clonalprocess.css.map */