<div class="container">
    <!-- Navbar Start  -->
    <div class="header" >
        <app-navbar-nursery [actualPage]="actualPage"></app-navbar-nursery>
    </div>
    <!-- Navbar End  -->
    <!-- Section header start  -->
    <div class="section-header"  @enterState>
        <div class="background-image">
            <img src="assets/images/_dsc0194-crop-u41411.jpg?crc=393931203">
        </div>    
        <div class="content">
            <h1 class="header">"DE UNA BUENA PLANTA PARTE TODO"</h1>
        </div>
    </div>
    <!-- Section header end  -->
    <div class="section-nursery section-content"  @enterState>
        <div class="image">
            <img src="assets/images/p1050071-crop-u38270.jpg?crc=3891691469" alt="">
        </div>
        <div class="content">
            <div class="header">
                <h1>UN VIVERO AGRÍCOLA DE <span class="color-green">VANGUARDIA</span></h1>
            </div>
            <div class="text">
                <p>
                    Producimos planta de <span class="color-green">aguacate clonal y convencional</span> de la más alta calidad y somos el primer vivero en México en replicar la técnica de <span>propagación de Allesbeste®</span>
                </p>
                <p>Contamos con las mejores variedades y patrones del mundo, cuidadosamente seleccionadas.</p>
                <p>Todos nuestros procesos nos permiten poder entregar planta de calidad y consistente, producida bajo condiciones controladas.</p>
            </div>
        </div>
    </div>
    <!--* Section Why nursery Start  -->
    <div class="section-why-nursery">
        <div class="why-content">
            <div class="s-header">
                <h1>¿POR QUÉ BLUEDROP NURSERY?</h1>
            </div>
            <div class="cards">
                <div class="card">
                    <div class="background-circle card-circule-1">
                        <img src="assets/images/svg%20pegado%206165x75_poster_.png?crc=385229821" alt="Not image">
                    </div>
                    <div class="card-header">
                        <h1 class="card-title-color-1">SELECCIÓN DE SEMILLAS</h1>
                    </div>
                    <div class="text">
                        <p>• Unicamente semillas de vigor medio y alto.</p>
                        <p>• Filtro de problemas de sanidad.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="background-circle .card-circule-2">
                        <img src="assets/images/svg%20pegado%207644x48_poster_.png?crc=229046880" alt="Not image">
                    </div>
                    <div class="card-header">
                        <h1 class="card-title-color-2">MANEJO DE SUSTRATOS</h1>
                    </div>
                    <div class="text">
                        <p>• Material inerte.</p>
                        <p>• Lavado.</p>
                        <p>• Sanitizado.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="background-circle card-circule-3">
                        <img src="assets/images/svg%20pegado%206525x76_poster_.png?crc=110560114" alt="Not image">
                    </div>
                    <div class="card-header">
                        <h1 class="card-title-color-3">CUIDADOS ÓPTIMOS</h1>
                    </div>
                    <div class="text">
                        <p>• Óptimo desarrollo radicular.</p>
                        <p>• Paquete de nutrición hasta post-plantación.</p>
                        <p>• Riego automatizado.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="background-circle card-circule-4">
                        <img src="assets/images/svg%20pegado%204979x73_poster_.png?crc=4206114050" alt="Not image">
                    </div>
                    <div class="card-header">
                        <h1 class="card-title-color-4">AUTENTICIDAD GENÉTICA</h1>
                    </div>
                    <div class="text">
                        <p>• Bancos seleccionados de planta madre.</p>
                        <p>• Varetas de árboles campeones.</p>
                        <p>• Compra de semilla directamente en fruto.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="background-circle card-circule-5">
                        <img src="assets/images/svg%20pegado%207299x69_poster_.png?crc=310120132" alt="Not image">
                    </div>
                    <div class="card-header">
                        <h1 class="card-title-color-5">FORMALIDAD Y CONTROL</h1>
                    </div>
                    <div class="text">
                        <p>• Política comercial transparente.</p>
                        <p>• Control de calidad en  cada entrega.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="background-circle card-circule-6">
                        <img src="assets/images/svg%20pegado%207661x54_poster_.png?crc=274054759" alt="Not image">
                    </div>
                    <div class="card-header">
                        <h1 class="card-title-color-6">ATENCIÓN Y SEGUIMIENTO</h1>
                    </div>
                    <div class="text">
                        <p>• Garantía de éxito.</p>
                        <p>• Seguimiento personalizado.</p>
                    </div>
                </div>
            </div>
        </div>        
        <div class="decoration-margin-down-left decoration-margin"></div>
        <div class="decoration-margin-down-right decoration-margin"></div>
        <div class="decoration-margin-top-left decoration-margin"></div>
        <div class="decoration-margin-top-right decoration-margin"></div>
    </div>
    <!-- Section Why nursery End -->
    <div class="section-why-plant">
        <div class="s-header">
            <h1>¿QUÉ TIPO DE <span>PLANTA</span> ELEGIR?</h1>
        </div>
        <div class="row">
            <div class="clonal-content">
                <h1 class="plant-header">
                    Planta clonal
                </h1>
                <ul>
                    <li class="text"><p>Las mejores variedades del mundo cuidadosamente seleccionadas</p></li>
                    <li class="text"><p>Uniformidad en el comportamiento de la plantación</p></li>
                    <li class="text"><p>Bajo mantenimiento</p></li>
                    <li class="text"><p>Certeza en el origen del material genético</p></li>
                    <li class="text"><p>Resistencia a distintas plagas y/o enfermedades</p></li>
                    <li class="text"><p>Mayor adaptabilidad en campo</p></li>
                    <li class="text"><p>Más productividad</p></li>
                </ul>
               
            </div>
            <div class="decoration-line"></div>
            <div class="conventional-content">
                <h1 class="plant-header">
                    Planta convencional
                </h1>
                <li class="text"><p>Genética genérica</p></li>
                <li class="text"><p>Variabilidad en el comportamiento de la plantación</p></li>
                <li class="text"><p>Requiere más mantenimiento</p></li>
                <li class="text"><p>Menor adaptabilidad en campo</p></li> 
                <li class="text">
                    <p>Su productividad es menor</p>
                </li> 
            </div>
        </div>
      
    </div>
    <!--* Section Vistus Start  -->
    <div class="section-vistus">
        <div class="background-image">
            <img src="assets/images/f1e679e3-b3e7-4e4c-a071-bb7d619169d0-crop-u39252.jpg" alt="">
        </div>
        <div class="content">
            <div class="header">
                <h1>¡VISITA NUESTRO VIVERO!</h1>
                <p class="text">Estamos ubicados en Ptro. Nuevo  Carretera El Refugio - San Marcos S/N, 45750 Ahualulco de Mercado, Jalisco.</p>
            </div>
            <div class="content-form">
                <div class="form-header">
                    <h1>
                        Agenda tu cita aqui
                    </h1>
                </div>
                <form class="form" [formGroup]="formEmailVistus" (ngSubmit)="sendMailVistus(formEmailVistus)" novalidate>
                    <div class="form-row">
                        <div class="form-control col-6">
                            <label class="focus">Nombre</label>
                            <input type="text" placeholder="Nombre:" required formControlName="name">
                        </div>
                        <div class="form-control col-6">
                            <label for="">Email </label>
                            <input type="email" placeholder="Email:"  required formControlName="email">
                        </div>
                    </div>                
                    <div class="form-row">
                        <div class="form-control col-6">
                            <label for="">Telefono</label>
                            <input type="text" placeholder="Telefono: "  required formControlName="phone">
                        </div>
                        <div class="form-control col-6">
                            <label for="">De donde nos visitas?</label>
                            <input type="text" placeholder="De donde nos visitas?"  required formControlName="where">
                        </div>
                    </div>                
                    <div class="form-row">
                        <div class="form-control col-6">
                            <label for="">Fecha de visita (dd/mm/aaaa)</label>
                            <input type="date" placeholder="Fecha de visita (dd/mm/aaaa)"  required formControlName="dateVist">
                        </div>
                        <div class="form-control col-6">
                            <label for="">Superfice para plantar (Ha)</label>
                            <input type="text" placeholder="Superfice para plantar (Ha)"  required formControlName="plant">
                        </div>
                    </div>
                    <button class="btn btn-primary" [disabled]="!formEmailVistus.valid">Enviar</button>        
                    <!-- {{formEmailVistus.valid }}         -->
                </form>
                <span class="alert-message-success" [ngClass]="isEmailVistSend ? 'active' : 'nan'"><i class="fas fa-check-circle"></i> Your message was sent successfully. Thanks! </span>    
            </div>
        </div>
    </div>
    <!-- Section Cotizador Start  -->
    <!-- Section Cotizador End  -->
    <!-- Section upcoming events Start  -->
    <div class="section-upcoming">
        <div class="background-image">
            <img src="assets/images/img_8957-crop-u39581.jpg">
        </div>
        <div class="degraded"></div>
        <div class="content">
            <div class="content-header">
                <h1>NO TE PIERDAS LOS PRÓXIMOS EVENTOS QUE TENEMOS PARA TI</h1>
            </div>
            <div class="content-form">
                <div class="form-header">
                    <h1>
                        Talleres, conferencias, cursos, demostraciones y mucho más
                    </h1>
                </div>
                <form [formGroup]="formEmailUpComing" (ngSubmit)="sendMailUpcoming(formEmailUpComing)">
                    <div class="form-control">
                        <input type="email" placeholder="Email" required formControlName="email">
                    </div>
                    <button class="btn-primary"  [disabled]="!formEmailUpComing.valid">Enviar</button>
                </form>             
            </div>
            <span class="alert-message-success" [ngClass]="isEmailUpcomingSend ? 'active' : 'nan'"><i class="fas fa-check-circle"></i> Your message was sent successfully. Thanks! </span>    
        </div>
    </div>
    <!-- Section upcoming events End  -->
    <!-- Section Footer Start  -->
    <div #contact id="contact" class="section-footer">
        <app-nursery-footer></app-nursery-footer>
    </div>
    <!-- Section Footer End  -->
</div>