<div class="container"  @enterState> 
    <!--* Navbar Start  -->
    <div class="header">
        <app-nav-berries [actualPage]="actualPage"></app-nav-berries>
    </div>
    <div class="section-header">
        <!-- <video  src="assets/videos/BluedropBerries.mp4" alt="error" ></video> -->
    </div>
    <div class="section-revolution">
        <div class="left-image">
            <img src="assets/images/47192-crop-u61055.png?crc=3780079502">
        </div>
        <div class="content">
            <h1 class="content-title">The new berry <span>revolution</span></h1>
            <div class="content-text">
                <p>BlueDrop Berries is a top blueberry producer in Mexico, soon to be #1. We know that investing in R&D, genetics and the environment will produce a premium product for our customers for many years to come.</p>
                <p> 
                    We will also continue to leverage technology so that our fields produce optimally, and we deliver in a timely manner so our  product arrives fresh and in excellent condition.</p>
            </div>
        </div>
        <div class="right-image">
            <img src="assets/images/4719-crop-u61007.png?crc=450391163">
        </div>
    </div>
    <div class="section-how">    
        <div class="image-background">
            <img src="assets/images/bd_237-crop-u61494.jpg?crc=340544481" >
        </div>
        <div class="content">
            <div class="content-text">
                <p>+ 20M USD INVESTED</p>
                <p>100 HA ESTABLISHED</p>
                <p>250 HA IN PRODUCTION BY 2024.</p>
            </div>
          
        </div>
    </div>
    <div class="section-growmap">
        <div class="content-title">
            <h1>How we <span>grow</span></h1>
        </div>
        <div class="content">
            <div class="cards">
                <div class="card card-plant">
                    <h1 class="card-title">
                        Plant
                    </h1>
                    <div class="card-image">
                        <img src="assets/images/bd_12-crop-u61734.jpg?crc=16544377">
                    </div>
                </div>
                <div class="card card-labors">                   
                    <div class="card-image">
                        <img src="assets/images/bd_788-crop-u61738.jpg?crc=4094381468">
                    </div>
                    <h1 class="card-title">
                        Labors
                    </h1>
                </div>
                <div class="card card-nutrition">
                    <h1 class="card-title">
                        Nutrition
                    </h1>
                    <div class="card-image">
                        <img src="assets/images/_dsc0041-crop-u61744.jpg?crc=4143633420">
                    </div>
                </div>
                <div class="card card-growth">                  
                    <div class="card-image">
                        <img src="assets/images/rasp_0309-crop-u61750.jpg?crc=3967812486">
                    </div>
                    <h1 class="card-title">
                        Growth
                    </h1>
                </div>
                <div class="card card-nutrition card-harvest">
                    <h1 class="card-title">
                        Harvest
                    </h1>
                    <div class="card-image">
                        <img src="assets/images/whatsapp%20image%202020-04-30%20at%20100024%20am%20(1)-crop-u61762.jpg?crc=108088314">
                    </div>
                </div>
                <div class="card card-pruning">                  
                    <div class="card-image">
                        <img src="assets/images/_dsc0246-crop-u61774.jpg?crc=4260733265">
                    </div>
                    <h1 class="card-title">
                        Pruning
                    </h1>
                </div>
            </div>
            <div class="route-image">
                <img cl src="assets/images/svg-pegado-103759x541.svg?crc=504284994">
            </div>
        </div>
        <div class="corner-image">
            <img src="assets/images/three-raspberries-isolated-crop-u64973.jpg?crc=500732530">
        </div>
    </div>
    <div class="section-ourpeople">
        <div class="image-background">
            <img src="assets/images/whatsapp%20image%202021-07-27%20at%2051655%20pm.jpg?crc=165328175" >
        </div>    
        <div class="content">    
            <div class="section-title">
                <h1>Our people are<span>the most important</span></h1>
            </div>
            <div class="section-subtitle">
                <h1>Part of bluedrop berries</h1>
            </div>
            <button class="btn">MORE</button>
        </div>
    </div>
    <!--* Start Section choose  -->
    <div class="section-choose">
        <h1 class="content-title">Chose your <span class="color-red">Favorite</span></h1>
        <div class="cards">
            <div class="card">
                <div class="card-image">
                    <img src="assets/images/fresh-raspberry-with-leaves.jpg?crc=4135892803">    
                </div>
                <h1 class="card-title color-red">Raspberries</h1>
            </div>
            <div class="card">
                <div class="card-image">
                    <img src="assets/images/blueberries.png">    
                </div>
                <h1 class="card-title">Blueberries</h1>
            </div>
        </div>
    </div>
    <div class="section-followus">
        <h1 class="section-title">
            Follow us!
        </h1>
    </div>
    <!--? Section Footer Start  -->
    <app-footer-guest #contact id="contact"></app-footer-guest>
</div>