<div class="container" >
    <!--* Navbar Start  -->
    <div class="header">
        <app-navbar></app-navbar>
    </div>
    <!--* Navbar End  -->
    <!--* Section Header Start -->
    <div class="section-header" @enterState>
        <div class="background-image">
            <img src="assets/images/limes-wicker-basket-wooden-table-flat-lay-crop-u65378.jpg">
        </div>    
        <div class="content">
            <h1 class="title-header">from the farm to your home</h1>
        </div>
    </div>
    <!--* Section Header End  -->
    <!--* Section Bringing Start  -->
    <div class="section-bringing"  @enterState>
        <h1 class="title-section">BRINGING <span class="second-color-text">SUPERIOR MEXICAN PRODUCE</span> TO THE INTERNATIONAL MARKET</h1>
        <div class="content">
            <p>
                BlueDrop Produce is focused on bringing quality produce from Mexico to the USA. All of our fruit adheres to the highest food safety and quality standards including the Global Gap class certification. Being the largest agroforestry company in Mexico we have the ability to drive costs out of the supply chain and ensure you get the consistent and quality product your customers expect.  
            </p>
        </div>
        <div class="image-section">
            <img src="assets/images/mesa%20de%20trabajo%204.png?crc=4107261838">
        </div>
    </div>
    <!--* Section Bringing End  -->
    <!--* Section Certifications Start  -->
    <div class="section-certifications"  @enterState>
        <h1 class="title-section">Certifications</h1>
         <div class="cards">
             <div class="card">
                    <img width="236" height="100" src="assets/images/logoprimusgfs.png">
             </div>
             <div class="card">
                    <img width="230" height="108" src="assets/images/global-g-a-p-logo-7ae0f2947e-seeklogocom.png?crc=201435567">
             </div>
         </div>
     </div>
    <!--* Section Certifications End  -->
    <!--* Section Footer -->
    <app-footer-guest></app-footer-guest>
</div>