<div class="container">
    <!-- Navbar Start  -->
    <div class="header">
        <app-navbar-nursery [actualPage]="actualPage"></app-navbar-nursery>
        <!-- <app-navbar-genetics></app-navbar-genetics> -->

    </div>
    <!-- Navbar End  -->
    <!-- Section header start  -->
    <div class="section-header"  @enterState>
        <div class="background-image">
            <img src="assets/images/img_20190729_160256-crop-u47776.jpg?crc=425567494" alt="">
        </div>    
        <div class="content">
            <h1 class="header">PROCESO DE LA PROPAGACIÓN CLONAL</h1>
        </div>
    </div>
    <!-- Section header end  -->
    <div class="what-is"  @enterState>
        <div class="content">
            <div class="row row-1">
                <div class="content-header">
                    <h1>¿QUÉ ES UN <span class="green-color">ÁRBOL CLONAL</span> DE AGUACATE?</h1>
                </div>
                <div class="content-text">
                    <p>
                        Un árbol clonal de aguacate es una planta cuyo método de propagación replica una misma fuente de material genético manteniendo todas las características de la fuente original.
                    </p>
                    <p>
                        El método de propagación de BlueDrop Nursery utiliza uno de los protocolos más avanzados a nivel mundial para entregar planta de calidad consistente producida bajo condiciones controladas. (Método de propagación Allesbeste®)
                    </p>
                </div>
            </div>
            <div class="image-plant">
                <img src="assets/images/planta%20aguacate.png?crc=3994271446">
            </div>
            <div class="row row-2">        
                <div class="content-header">
                    <h1><span class="green-color">BENEFICIOS</span> DE LOS ÁRBOLES CLONALES DE BLUEDROP NURSERY</h1>
                </div>
                <div class="content-text">
                    <li>Las mejores variedades del mundo seleccionadas</li>
                    <li>Uniformidad en el comportamiento de la plantación</li>
                    <li>Bajo mantenimiento</li>
                    <li>Certeza en el origen del material genético</li>
                    <li>Resistencia a distintas plagas y/o enfermedades</li>
                    <li>Mayor adaptabilidad en campo</li>
                    <li>Más productividad</li>
                </div>                     
            </div>                      
        </div>
        <div class="image">
            <img src="assets/images/planta%20aguacate.png?crc=3994271446">
        </div>   
    </div>
    <!-- Section productivity Start  -->
    <div class="section-productivity">        
        <div class="content-header">
            <h1>LA <span class="green-color">PRODUCTIVIDAD EN UNA HUERTA</span> ES ATRIBUIBLE A DOS FUENTES DE MATERIAL GENÉTICO:</h1>
        </div>
        <div class="content-images">
            <div class="plant-image">
                <img class="plant-img" src="assets/images/aa254b_02de0c3af2ab4b69ba53b324ad9b2b05~mv2.gif?crc=165701237">
                <img src="assets/images/aa254b_aa584a9d58154dbb804274321ed5e3d8~mv2.gif?crc=3911709401" class="scissors-gif">
            </div>
            <div class="content">                           
                <div class="content-image">
                    <div class="content-variety">
                        <div class="vertical-title">
                            <h1>Variedad</h1>
                        </div>
                        <div class="text">
                            <li>Calidad de la fruta</li>
                            <li>Tamaño y estructura de la copa</li>
                            <li>Resistencia al clima</li>
                        </div>
                    </div>
                    <div class="content-graft">
                        <div class="vertical-title">
                            <h1>porta injerto</h1>
                        </div>
                        <div class="text">
                            <li>Adaptabilidad al suelo</li>
                            <li>Tolerancia a enfermedades de raíz                            </li>
                            <li>Poco requerimiento de riego                            </li>
                        </div>
                    </div>
                    <div class="line-right-decoration">             
                    </div>
                </div>
                <div class="vertical-title-right">
                    <h1 >productividad</h1>
                </div>
            </div>
            <div class="graph-image">
                <img src="assets/images/gr%c3%a1fica.png?crc=497713204">
            </div>
        </div>
        <div class="graph-image-small">
            <img src="assets/images/gr%c3%a1fica.png?crc=497713204">
        </div>
        <div class="decoration-margin-down-left decoration-margin"></div>
        <div class="decoration-margin-down-right decoration-margin"></div>
        <div class="decoration-margin-top-left decoration-margin"></div>
        <div class="decoration-margin-top-right decoration-margin"></div>
    </div>
    <!-- Section productivity End -->
    <!-- Section us process Start  -->
    <div class="section-usprocess">
        <div class="content-header">
            <h1>nuestro proceso clonal</h1>
        </div>
        <div class="content-image">
            <img src="assets/images/svg%20pegado%2070413x498_poster_.png?crc=3983455676">
        </div>
    </div>
    <!-- Section us process End  -->
    <!-- Section Footer Start  -->
    <div  #contact id="contact"  class="section-footer">
        <app-nursery-footer></app-nursery-footer>
    </div>
    <!-- Section Footer End  -->
</div>

