<div class="content">
    <!--* Start Header  -->
    <div class="header" @enterState>
        <div class="header-content">
            <!--* Nav Start Here  -->
            <app-navbar></app-navbar>
            <div class="header-slogan">
                <p class="color-white">committed to</p>
                <!-- <p class="color-white">to</p> -->
                <p class="color-blue">sustainable</p>
                <p class="color-white">development</p>
            </div>
        </div>
        <!--* Header Banner Start  -->
        <div class="banner-img">
            <img  data-orig-src="images/dji_0066.jpg?crc=4086208895" alt="No image"
            data-heightwidthratio="0.5624483043837882" 
            src="/assets/images/_alf4850-crop-u23287.jpg?crc=4073242941" />
        </div> 
    </div>
    <div class="information-section section-content" @enterState>
        <div class="row row-header">
            <div class="content ">
                <p class="title title-header-1">
                    THIS IS OUR COMMITMENT AND WE PLEDGE TO HOLD OURSELVES RESPONSIBLE TO ACHIEVING A MORE SUSTAINABLE, CONSCIENTIOUS AND HEALTHIER WAY OF DOING BUSINESS.
                </p>
                <div class="text text-0">
                    <p>At BlueDrop we believe that social and environmental responsibility is essential for the sustainable development of our planet. The sum of efforts from companies like ours can truly make a difference in the long run; hence, we are committed to doing our part in this important effort.</p>
                    <p>In addition to complying with industry legal requirements, we strive to serve as an example of sustainability in our industry, always holding ourselves to higher standards.</p>               
                </div>
            </div>         
        </div>
        <div class="row horizontal-direction row-social-responsibility">           
            <div class="content">
                <div class="title-header title-header-2">
                    <p>Social</p>
                    <p>Responsibility</p>
                </div>              
                <div class="text text-2">
                    <li>Connecting with our community to identify opportunities in which we can make a difference.</li>
                    <li>Working with our employees to increase their productivity and their compensation.</li>            
                    <li>Keeping track of our progress, “What gets measured gets done,” and report results to our Board of Directors.</li>
                    <li>Supporting our employees’ goals of living healthier lives through educational programs that focus on nutrition, exercise and preventative health care.</li>
                </div>
            </div>
            <div class="image">
                <img width="502" height="515" src="assets/images/teak%20house%20tabasco%20050918_105-crop-u24172.jpg?crc=3760409331">
            </div>
        </div>
        <div class="row horizontal-direction row-environmental">    
            <div class="image">
                <img width="502" height="515" src="assets/images/_cfr7836_editado-crop-u24703.jpg?crc=1758056">
            </div>       
            <div class="content">
                <div class="title-header title-header-2">
                    <p>environmental</p>
                    <p>responsibility</p>
                </div>              
                <div class="text text-2">
                    <li>Minimizing our environmental footprint..</li>
                    <li>Making efficient use of water and helping our community to better manage this key resource.</li>            
                    <li>Reducing waste.</li>
                    <li>Supporting a cultural shift towards environmental consciousness.</li>
                    <li>Protecting our bees and the other living creatures that interact with us.</li>
                </div>
            </div>          
        </div>
    </div>
    <div class="communities-section section-content">
        <div class="header">
            <div class="content ">
                <p class="title title-header-1">
                    WE GENERATE A POSITIVE IMPACT IN OUR COMMUNITIES DEVELOPING PROGRAMS IN ALL OUR OPERATIONS.
                </p>               
            </div>         
        </div>
        <div class="cards">
            <div class="row">
                <div class="card">
                    <div class="card-image">
                        <img width="310" height="310" src="assets/images/img_0453.jpg?crc=4028914713">
                    </div>
                    <div class="card-content">
                        <div class="card-title">
                            <p>VOLUNTARY COMMITMENT PROGRAM</p>
                        </div>
                        <div class="card-text">
                            <p>These monitoring reports describe the measures to prevent environmental degradation and to promote the protection of the human rights of our employees.</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-image">
                        <img width="310" height="310" src="assets/images/les enfants d-une école parrainée par proteak-crop-u26436.jpg">
                    </div>
                    <div class="card-content">
                        <div class="card-title">
                            <p>RURAL SCHOOL SUPPORT PROGRAM</p>
                        </div>
                        <div class="card-text">
                            <p>School Support Program benefitting 596 primary and high school students by providing materials to improve their infrastructure and teaching material.</p>
                        </div>
                    </div>
                </div>           
            </div>
            <div class="row">
                <div class="card">
                    <div class="card-image">
                        <img width="310" height="310" src="assets/images/img_3063-crop-u26826.jpg?crc=3886559093">
                    </div>
                    <div class="card-content">
                        <div class="card-title">
                            <p>VOLUNTARY COMMITMENT PROGRAM</p>
                        </div>
                        <div class="card-text">
                            <p>This program was implemented for the support of small landlords to participate in the forestry industry and to obtain better yields for their lands and labor.</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-image">
                        <img width="310" height="310" src="assets/images/teak house tabasco 050918_070-crop-u267892.jpg">
                    </div>
                    <div class="card-content">
                        <div class="card-title">
                            <p>RURAL SCHOOL SUPPORT PROGRAM</p>
                        </div>
                        <div class="card-text">
                            <p>This program benefited more than 700 employees that now receive a fitting salary, safe transportation, better employment conditions, social security and banking services.</p>
                        </div>
                    </div>
                </div>           
            </div>
        </div>
    </div>
    <!--? Section Footer Start  -->
    <app-footer-guest></app-footer-guest>
</div>