<div class="content">
    <!--* Start Header -->
    <div class="header" @enterState>
        <div class="header-content">
            <app-navbar></app-navbar>           
            <div class="header-slogan">
                <p class="color-white">we</p>
                <p class="color-blue">make <span class="color-white">it</span></p>
                <!-- <p class="color-white">it</p> -->
                <p class="color-white">happen</p>
            </div>
        </div>
        <div class="banner-img">
            <img src="/assets/images/dji_0026-crop-u20608.jpg" />
        </div>    
    </div>
    <!--* Founder Section Start  -->
    <div class="founder-section" @enterState>
        <div class="row founder">
            <div class="image">
                <img class="block" alt=""  src="assets/images/img_2524-crop-u20690.jpg?crc=32795727" id="u20690_img">
                <div class="image-info image-info-founder">
                    <p>Hector Bonilla</p>
                    <p>Founder of BlueDrop</p>
                </div>
            </div>
            <div class="content ">
                <p class="title">
                    transforming the mexican
                    agroforestry industry
                    since 2000
                </p>
                <div class="text text-1">
                    BlueDrop was founded by Hector Bonilla in 2000 with the goal of developing high quality teak plantations in Mexico. In 2010 Proteak was taken public in the Mexican stocks market in the first IPO of a medium sized company and the first in the Mexican Forestry Sector. Proteak is, in 2020, the largest forestry company in Mexico with more than 20,000 hectares of teak and Eucalyptus plantations and the largest MDF factory in the country.            
                </div>
            </div>                  
        </div>
        <div class="row row-ceo">
            <div class="content">    
                <div class="text text-2">
                    <p>
                        In 2017 we embarked in four more ventures under the leadership of Hector Bonilla and Franz Meiners. Bluedrop Berries, Bluedrop Produce, Bluedrop Nursery and Bluedrop Genetics.
                    </p> 
                    <p>Our strategy for the future is to continue growing in each of these lines of business leveraging the capabilities we have developed in the last 20 years.</p> 
                    <p>2020 has provided no shortage of challenges but we will continue to invest in our companies and employees so that we can innovate and deliver our industry leading products to the world.</p>
                </div>
            </div>
            <div class="image">
                <img class="block" alt=""  src="assets/images/bd_847-crop-u20682.jpg?crc=86235224" id="u20690_img">
                <div class="image-info image-info-ceo">
                    <p>Franz Meiners</p>
                    <p>CEO of BLueDrop</p>
                </div>
            </div>                  
        </div>
    </div>
    <!--* Section Our Numbers Start  -->
    <div class="ournumbers-section section-content">
         <!-- Title Content Start -->
       <div class="leading-head content-title">
            <div class="grpelem shared_content" class="leading-head-line" data-sizePolicy="fixed" data-pintopage="page_fixedCenter"
            data-leftAdjustmentDoneBy="pu7146" data-content-guid="u7146_content">
            </div>
            <div class="leading-text">
                <p>our numbers</p>
                <!-- <p>numbers</p> -->
            </div>        
            <div class="grpelem shared_content" class="leading-head-line" data-sizePolicy="fixed" data-pintopage="page_fixedCenter"
            data-leftAdjustmentDoneBy="pu7146" data-content-guid="u7146_content">
            </div>
        </div>
        <!-- Cards Start Here  -->
        <div class="cards">    
            <!-- <div class="row"> -->
                <div class="card">
                    <div class="card-image">
                        <img src="assets/images/img_9008-crop-u21485.jpg?crc=285042792" alt="" width="310" height="267"/>
                    </div>
                    <div class="card-title title-1">
                        <p>
                            9 successful greenfield companies
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-image">
                        <img src="assets/images/alf_5198-crop-u21672.jpg?crc=283298751" alt="" width="310" height="267"/>
                    </div>
                    <div class="card-title title-1">
                        <p>
                            +$400 USD MILLION TOTAL INVESTMENT
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-image">
                        <img src="assets/images/dji_0036-crop-u21684.jpg?crc=377718240" alt="" width="310" height="267"/>
                    </div>
                    <div class="card-title title-1">
                        <p>
                            +20K HECTARES IN OPERATION
                        </p>
                    </div>
                </div>
            <!-- </div>         -->
            <!-- <div class="row "> -->
                <div class="card">
                    <div class="card-image">
                        <img src="assets/images/_dsc0214%20edit-crop-u21738.jpg?crc=3822217774" alt="" width="310" height="267"/>
                    </div>
                    <div class="card-title title-2">
                        <p>
                            +4,000 EMPLOYEES
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-image">
                        <img src="assets/images/teak%20house%20tabasco%20050918_229-crop-u21712.jpg?crc=4629062" alt="" width="310" height="267"/>
                    </div>
                    <div class="card-title title-2">
                        <p>
                            1ST FORESTRY IPO IN MEXICO
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-image">
                        <img src="assets/images/_cfr7556_editado.jpg?crc=3848894330" alt="" width="310" height="267"/>
                    </div>
                    <div class="card-title title-2">
                        <p>
                            +21 YEARS OF EXPERIENCE IN  THE INDUSTRY
                        </p>
                    </div>
                </div>
            <!-- </div>                    -->
        </div> 
    </div>
    <!--? Section Footer Start  -->
    <app-footer-guest></app-footer-guest>
</div>